@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

body {
  background: #020617;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.stopwatch {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: rgba(136, 136, 136, 0.04);
  padding: 3rem 4rem;
  border-radius: 24px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  backdrop-filter: blur(64px);
  gap: 2rem;
}

.btn {
  text-transform: uppercase;
  --bg-clr: gray;
  background: var(--bg-clr);
  border: none;
  outline: none;
  padding: 0.5em 1.75em;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1.25rem;
  cursor: pointer;
  box-shadow: var(--bg-clr) 0px 2px 15px -1px, var(--bg-clr) 0px 1px 3px -1px;
  margin: 0.5rem;
  transition: 0.3s ease;
  user-select: none;
  position: relative;
  overflow: hidden;
}
.btn::before {
  content: "";
  width: 15px;
  height: 100px;
  position: absolute;
  background: rgba(255, 255, 255, 0.25);
  left: -50%;
  top: -100%;
  z-index: 99;
  rotate: 45deg;
  filter: blur(5px);
  transition: 0.5s ease;
}
.btn:hover::before {
  left: 125%;
  top: 50%;
}
.btn:hover {
  filter: brightness(110%);
}
.btn:active {
  filter: contrast(90%);
}
.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.display {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 4rem);
}

.display-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
.display-suffix {
  font-size: 0.75rem;
  opacity: 0.6;
}
.display-item div {
  font-weight: bold;
  font-size: 2rem;
  background: #020617;
  border-radius: 12px;
  aspect-ratio: 1/1;
  width: 75px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}
